@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


h5,p,li,i{
    font-size: 1.4rem;
}       

html{
    scroll-behavior: smooth;
}